<div class="home">
  <!-- Top Navigation Bar -->
  <nav class="top-nav">
    <div class="logo">DIY Dynamics</div>
    <!-- Search Bar -->
    <div class="search-bar">
      <div class="input-wrapper">
      <input type="text" [(ngModel)]="searchText" (keyup.enter)="searchCategories()" placeholder="Search for categories...">
      <button *ngIf="searchText" class="clear-btn" (click)="clearSearch()">✖</button>
      </div>
      <button (click)="searchCategories()">Search</button>
    </div>
    <!-- Browse All Categories Button -->
    <div class="browse-btn-container">
      <button (click)="goToCategories()">Browse All Categories</button>
    </div>
    <div class="user-controls">
      <div class="dropdown">
        <button class="dropbtn">☰</button>
        <div class="dropdown-content">
          <!-- Show Log In / Sign Up only if the user is not logged in -->
          <a *ngIf="!authService.isLoggedIn()" (click)="goToAuth('log-in')">Log In or Sign Up</a>
          <!-- Show Profile link only if the user is logged in -->
          <a *ngIf="authService.isLoggedIn()" routerLink="/profile">Profile</a>
          <!-- Show Log Out only if the user is logged in -->
          <a *ngIf="authService.isLoggedIn()" (click)="logout()">Log Out</a>
        </div>

        </div>
    </div>
  </nav>

