<div class="drag-drop-container">
  <h3>Project Planner</h3>
  <div class="project-columns">
    <!-- Want To Do Column -->
    <div class="project-column" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'wantToDo')">
      <h4>Want to Do</h4>
      <div class="project-container">
        @for (project of wantToDoProjects; track project) {
          <div class="project-card"
            draggable="true"
            (dragstart)="onDragStart($event, project)"
            (click)="goToProjectDetails(project.id)">
            @if (project.image_url) {
              <img
                [src]="project.image_url"
                [lazyLoad]="project.image_url"
                alt="Project Image"
                class="project-thumbnail">
            }
            <h5>{{ project.title }}</h5>
            <p><strong>Description:</strong> {{ project.description }}</p>
          </div>
        }
      </div>
    </div>

    <!-- Done Column -->
    <div class="project-column" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'done')">
      <h4>Done</h4>
      <div class="project-container">
        @for (project of doneProjects; track project) {
          <div class="project-card"
            draggable="true"
            (dragstart)="onDragStart($event, project)"
            (click)="goToProjectDetails(project.id)">
            @if (project.image_url) {
              <img
                [src]="project.image_url"
                [lazyLoad]="project.image_url"
                alt="Project Image"
                class="project-thumbnail">
            }
            <h5>{{ project.title }}</h5>
            <p><strong>Description:</strong> {{ project.description }}</p>
          </div>
        }
      </div>
    </div>
  </div>
</div>
