.project-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .project-details {
    width: 60%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: white;


    @media (max-width: 768px) {
      width: 80%;
    }

    @media (max-width: 480px) {
      width: 90%;
    }
  }
  .edit-button {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #45a049;
    }
  }
}
