.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  height: 50px;
  border-bottom: 4px solid #003C43;
}

.logo {
  font-family: 'Verdana', sans-serif;
  text-shadow: 1px 1px #003C43;
  border-radius: 3px;
  font-size: 1.5em;
  font-weight: bold;
  color: #003C43;
  text-transform: uppercase;
  transition: transform 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.profile-icon-default {
  width: 40px;
  height: 40px;
  background-color: #003C43;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.left-group {
  display: flex;
  align-items: center;
}

.right-group {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 20px;
}

.search-bar .input-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.search-bar input {
  padding: 8px 60px 8px 8px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
}

.search-bar .input-wrapper .clear-btn {
  position: absolute;
  left: 190px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: darkgray;
  transition: transform 0.2s;
}

.search-bar .input-wrapper .clear-btn:hover {
  transform: translateY(-50%) scale(1.5);
}

.search-bar button {
  padding: 8px 16px;
  background: #003C43;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  min-width: 200px;
  max-width: 200px;
  box-sizing: border-box;
  margin-left: 10px;
}

.browse-btn {
  padding: 8px 16px;
  background: #003C43;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 20px;
  min-width: 200px;
  max-width: 200px;
  box-sizing: border-box;
}

.signup-btn, .login-btn {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  border: none;
  margin-left: 10px;
  background: #003C43;
  color: white;
}

.login-btn {
  background: #135D66;
  color: white;
  cursor: pointer;
}

.user-controls, .auth-controls {
  position: relative;
  display: flex;
  align-items: center;
}

.material-icons-outlined,
.material-symbols-outlined,
.home-icon,
.explore-icon {
  font-size: 24px;
  color: black;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}


.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;

}

.profile-icon-default {
  width: 40px;
  height: 40px;
  background-color: #0B3C5D;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.explore-icon {
  cursor: pointer;
}

.user-controls, .auth-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;


}


@media screen and (max-width: 600px) {
  .top-nav {
    background-color: #0B3C5D;
    padding: 10px 0;
  }

  .mobile-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }


  .material-icons-outlined, .material-symbols-outlined {
      color: white;
  }
  .browse-btn {
      display: none;
  }
  .search-bar {
      display: none;
  }
  .search-icon {
      display: block;
  }

  .explore-icon {
      display: block;
  }

  .explore-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
  }

  .explore-menu button {
    display: block;
    width: 100%;
  }

  .logo span {
    display: none;
  }

  .profile-icon-default {
    display: block;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    color: #0B3C5D;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    user-select: none;
    cursor: pointer;
  }

}
