<div class="home">
  <nav class="top-nav">
    <div class="left-group">
    <div class="logo">DIY Dynamics</div>
    <!-- Search Bar -->
    <div class="search-bar">
      <div class="input-wrapper">
      <input type="text" [(ngModel)]="searchText" (keyup.enter)="searchCategories()" placeholder="Search for categories...">
<button *ngIf="searchText && searchText.length > 0" class="clear-btn" (click)="clearSearch()">✖</button>
      </div>
      <button (click)="searchCategories()">Search</button>

    </div>
    <!-- Browse All Categories Button -->
    <button class="browse-btn" (click)="goToCategories()">Browse All Categories</button>
    <button class="browse-btn" (click)="goToProjects()">Browse All Projects</button>
  </div>
  <!-- User Controls for when user is logged in -->
  <div *ngIf="authService.isLoggedIn()" class="user-controls">
    <a routerLink="/" class="home-icon">
      <span class="material-icons-outlined">home</span>
    </a>
    <span class="material-icons-outlined" (click)="goToSavedProjects()">favorite</span>
      <span class="material-icons-outlined" (click)="logout()">logout</span>
    <div *ngIf="userProfile?.profilePictureUrl; else defaultProfile"
         class="profile-icon"
         (click)="goToProfile(); $event.stopPropagation();">
      <img [src]="userProfile?.profilePictureUrl" alt="Profile" class="profile-icon">
    </div>
    <ng-template #defaultProfile>
      <div class="profile-icon-default" (click)="goToProfile(); $event.stopPropagation();">DIY</div>
    </ng-template>

    </div>
  <div *ngIf="!authService.isLoggedIn()" class="auth-controls">
    <button (click)="showAuthForm = true; authAction = 'sign-up'" class="signup-btn">Sign Up</button>
    <button (click)="showAuthForm = true; authAction = 'log-in'" class="login-btn">Log In</button>
  </div>
  </nav>
  <div *ngIf="showAuthForm" class="auth-overlay">
    <app-auth (onFormClose)="showAuthForm = false"></app-auth>
  </div>
  </div>


