.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.8em;
  color: #e60023;
}

.left-group {
  display: flex;
  align-items: center;
}

.right-group {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: 20px;

}

.search-bar .input-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.search-bar input {
  padding: 8px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.search-bar button {
  padding: 8px 16px;
  background: #e60023;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  min-width: 200px;
  max-width: 200px;
  box-sizing: border-box;
  margin-left: 10px;
}

.browse-btn {
  padding: 8px 16px;
  background: #e60023;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 20px;
  min-width: 200px;
  max-width: 200px;
  box-sizing: border-box;
}

.search-bar .input-wrapper .clear-btn {
  position: absolute;
  right: 5px;
  top: 50%;

  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 1.2em;
}

.signup-btn, .login-btn {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  border: none;
  margin-left: 10px;
  background: #ccc;
  color: #333;
}

.login-btn {
  background: #e60023;
  color: white;
}

.user-controls, .auth-controls {
  position: relative;
  display: flex;
  align-items: center;
}


.profile-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.profile-icon-default {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  user-select: none;
}

.home-icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}


.material-icons-outlined {
  font-size: 24px;
  margin-right: 10px;
}

.user-controls, .auth-controls {
  display: flex;
  align-items: center;
  // If necessary, adjust the spacing between the icons here
  gap: 10px; // adjust as needed
}

