<div class="home">
  <nav class="top-nav">
    <div class="left-group">
    <div class="logo">DIY Dynamics</div>
    <!-- Search Bar -->
    <div class="search-bar">
      <div class="input-wrapper">
      <input type="text" [(ngModel)]="searchText" (keyup.enter)="searchCategories()" placeholder="Search for categories...">
      <!-- Inside your input-wrapper -->
<button *ngIf="searchText && searchText.length > 0" class="clear-btn" (click)="clearSearch()">✖</button>
      </div>
      <button (click)="searchCategories()">Search</button>
    </div>
    <!-- Browse All Categories Button -->
    <button class="browse-btn" (click)="goToCategories()">Browse All Categories</button>
  </div>
  <!-- User Controls for when user is logged in -->
  <div *ngIf="authService.isLoggedIn()" class="user-controls" [class.showUserMenu]="showUserMenu">
      <img *ngIf="userProfile && userProfile.profilePictureUrl"
           [src]="userProfile.profilePictureUrl"
           alt="Profile"
           class="profile-icon"
           (click)="goToProfile(); $event.stopPropagation();">
           <button class="dropbtn" (click)="toggleUserMenu(); $event.stopPropagation();">☰</button>
    <div *ngIf="showUserMenu" class="user-menu">
      <a (click)="logout()">Log Out</a>
    </div>
  </div>
  <div *ngIf="!authService.isLoggedIn()" class="auth-controls">
    <button (click)="goToAuth('sign-up')" class="signup-btn">Sign Up</button>
    <button (click)="goToAuth('log-in')" class="login-btn">Log In</button>
  </div>
  </nav>
</div>
