.admin-dashboard-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #004d40;
  text-align: center;
  margin-bottom: 1rem;
}


.main-container {
  background-color: #77B0AA;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.categories-title {
  font-size: 2rem;
  font-weight: bold;
  color: #004d40;
  text-align: center;
  margin: 1rem 0;
}


.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.category-card {
  width: 200px;
  height: 150px;
  border: 2px solid #003C43;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #E3FEF7;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.category-card h3 {
  margin: 10px 0;
}

.category-card p {
  font-size: 14px;
}

.card-actions {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.card-actions button {
  background: none;
  border: none;
  cursor: pointer;
  color: #003C43;
  font-size: 24px;
}

.card-actions button:hover {
  color: #005960;
}

.material-icons {
  display: inline-block;

}

.edit-category-form {
  background-color: #fff;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}


.edit-form-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.edit-form-container h3 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.update-button, .close-button {
  background: #5cb85c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.close-button {
  background: #f44336;
}


.update-button:hover, .close-button:hover {
  opacity: 0.8;
}

.edit-form-container label,
.edit-form-container input,
.edit-form-container textarea {
  width: 100%;
  margin-bottom: 0.5rem;
}

.edit-form-container input,
.edit-form-container textarea {
  padding: 0.5rem;
  margin-top: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 20px);
}

.form-actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

.circular-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1050;
}

.circular-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #4CAF50;
  color: white;
  border: none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
  position: fixed;
  top: 100px;
  right: 20px;
}

.circular-button:hover {
  background-color: #43A047;
}

.add-category-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.add-form-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.add-form-container h3 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.add-form-container label,
.add-form-container input,
.add-form-container textarea {
  width: 100%;
  margin-bottom: 0.5rem;
}

.add-form-container input,
.add-form-container textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 20px);
}

.add-form-container .form-actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}


.add-form-container .close-button {
  background: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

