.profile-page {
  display: flex;
  background-color: #E7EDE4;
  min-height: 100vh;
  padding: 20px;
}

.profile-sidebar {
  flex: 0 0 300px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.profile-header {
  margin-bottom: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.bio-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.profile-actions {
  display: flex;
  flex-direction: column;
}

.admin-button,
.edit-button,
.project-planner-button {
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #003C43;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-button:hover,
.edit-button:hover,
.project-planner-button:hover,
.favorites-board-button:hover {
  background-color: #0056b3;
}

.favorites-section h3 {
  text-align: center;
  color: #003C43;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.favorites-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites-container {
  width: 100%;
  max-width: calc(100% - 40px);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  gap: 30px;
  justify-content: center;
}


.project-card {
  background-color: white;
  border: 1px solid #003C43;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 350px;

  padding-bottom: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);

}

.project-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}


.project-card h3 {
  padding: 16px;
  margin: 0;
  background-color: #003C43;
  color: white;
  font-weight: 600;
  font-size: 1.1em;
}

.project-card p {
  padding: 8px 16px;
  color: #0B3C5D;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}

.want-to-do-btn {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  min-width: 200px;
  max-width: 90%;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: #003C43;
  color: white;

}

.want-to-do-btn:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}


.remove-from-planner-btn {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  min-width: 200px;
  max-width: 100%;
  white-space: nowrap;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: #E7EDE4;
  color: #003C43;
}

.remove-from-planner-btn:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.edit-form-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.edit-form-container label,
.edit-form-container input,
.edit-form-container textarea {
  width: 100%;
  margin-bottom: 0.5rem;
}

.edit-form-container input,
.edit-form-container textarea {
  padding: 0.5rem;
  margin-top: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 20px);
}


.update-button, .close-button {
  background: #003C43;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.close-button {
  background: darkred;
}

.update-button:hover, .close-button:hover {
  opacity: 0.8;
}


.form-actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}


