<div class="home-container">
<!-- Bootstrap carousel for features -->
<div id="featureCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- Feature box - Discover -->
      <div class="feature-box">
        <div class="image-container">
          <img src="https://res.cloudinary.com/dks6nqxbg/image/upload/es5k4jjt3cru7497vi6p7u81mb7t.webp" alt="DIY Project 1" class="feature-image first-image" loading="lazy">
          <img src="https://res.cloudinary.com/dks6nqxbg/image/upload/km7d4uhodvyrjv8uv3a0s8wrjikj.avif" alt="DIY Project 2" class="feature-image second-image" loading="lazy">
          <img src="https://res.cloudinary.com/dks6nqxbg/image/upload/m4v94sn0qnqei65zc3paa3bf6gho.jpeg" alt="DIY Project 3" class="feature-image third-image" loading="lazy">
        </div>
        <div class="text-container">
        <h2 class="feature-title">Discover</h2>
        <p class="feature-text">
          Explore a world of projects. From crafting and woodworking to children's activities, discover a universe of possibilities. Each project comes with step-by-step guides to bring your project to life. It's your one-stop shop for all things DIY.</p>
          <button class="btn-cta" (click)="handleCallToAction('/projects')">Browse all Projects</button>
    </div>
      </div>
    </div>
    <div class="carousel-item">
      <!-- Feature box - Create -->
      <div class="feature-box create">
        <div class="text-container">
        <h2 class="feature-title">Create</h2>
        <p class="feature-text">
          Unleash your creative potential with an array of DIY projects that cater to all skill levels. Whether you're crafting a simple handmade gift or tackling a comprehensive home improvement project, discover everything you need to bring your unique visions to life.</p>
          <button class="btn-cta" (click)="handleCallToAction('/create-project')">Create a Project</button>
      </div>
      <div class="image-container-create">
        <img src="https://res.cloudinary.com/dks6nqxbg/image/upload/0p9so7119ms7bgixad3uf7gyw6nt.jpeg" alt="Create Project 1" class="feature-image-create" loading="lazy">
        <img src="https://res.cloudinary.com/dks6nqxbg/image/upload/zhuwypnn2g9x7rb518ymys5sw16i.jpeg" alt="Create Project 2" class="feature-image-create" loading="lazy">
        <img src="https://res.cloudinary.com/dks6nqxbg/image/upload/h9vfjy6sw9wn28hce0pa6gfjw05d.jpeg" alt="Create Project 3" class="feature-image-create" loading="lazy">
        <img src="https://res.cloudinary.com/dks6nqxbg/image/upload/3saj6m8hagqutif5i6nncbqdn8v4.jpeg" alt="Create Project 4" class="feature-image-create" loading="lazy">
        <img src="https://res.cloudinary.com/dks6nqxbg/image/upload/8s6vkddb5bfwf6m4j6t3g1vg3cea.jpeg" alt="Create Project 5" class="feature-image-create" loading="lazy">
      </div>
      </div>
    </div>
    <div class="carousel-item">
      <!-- Feature box - Inspire -->
      <div class="feature-box">
        <div class="image-container">
          <img src="https://res.cloudinary.com/dks6nqxbg/image/upload/aocjccqr7wx7hfc4soi7hrbc90tb.jpeg" alt="Create Project 5" class="feature-image-create" loading="lazy">
        </div>
        <div class="text-container">

        <h2 class="feature-title">Inspire</h2>
        <p class="feature-text">
          Become a beacon of creativity within a vibrant DIY community. Share your completed projects, unique solutions, and artistic flair to not just showcase your achievements, but to light the way for others.</p>
          <button class="btn-cta" (click)="handleCallToAction('/profile')">Go To Profile</button>

      </div>
    </div>
  </div>
</div>
<!-- Overlay for auth form-->
<div *ngIf="showAuthForm" class="auth-overlay">
  <app-auth [authAction]="authAction" (onFormClose)="closeAuthForm()" (onLoginSuccess)="handleLoginSuccess()"></app-auth>
</div>

