<app-navbar (search)="handleSearch($event)"></app-navbar>
 <!-- Search Results -->
 <div *ngIf="searchResults.length > 0" class="overlay">
  <div class="search-results-container">
    <button class="close-btn" (click)="clearSearchResults()">✖</button>
    <h2>Search Results</h2>
    <div *ngFor="let category of searchResults" class="search-result">
      <h3>{{ category.category_name }}</h3>
      <p>{{ category.description }}</p>
    </div>
  </div>
</div>
  <!-- Content Area -->
  <div class="content-area">
<!-- Introduction Text -->
</div>

<!-- Bootstrap Carousel for Features -->
<div id="featureCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="feature-box">
        <h2>Discover</h2>
        <p> Explore a world of projects. From crafting and woodworking to children's activities, discover a universe of possibilities. Whether you're looking to manage projects or just find inspiration, you've come to the right place. Each project comes with step-by-step guides to bring your project to life. It's your one-stop shop for all things DIY.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="feature-box">
        <h2>Create</h2>
        <p>Unleash your creative potential with an array of DIY projects that cater to all skill levels. Whether you're crafting a simple handmade gift or tackling a comprehensive home improvement project, discover everything you need to bring your unique visions to life. It's time to create, customize, and celebrate the joy of DIY.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="feature-box">
        <h2>Inspire</h2>
        <p>Become a beacon of creativity within a vibrant DIY community. Share your completed projects, unique solutions, and artistic flair to not just showcase your achievements, but to light the way for others.</p>
      </div>
    </div>
  </div>
</div>

    <!-- Categories & Projects Grid -->
    <!-- <div class="grid-container">
      <div *ngFor="let project of featuredProjects" class="grid-item">
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
      </div>
    </div>
      </div> -->

