.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px;
}

.project-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  position: relative;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}


.project-card h3 {
  padding: 16px;
  margin: 0;
  background-color: #f7f7f7;
  color: #333;
}

.project-card p {
  padding: 8px 16px;
  color: #666;
  overflow: hidden;
}

.project-image-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f7f8;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

ngx-skeleton-loader {
  width: 50%;
  height: 50px;
  border-radius: 50%;
  background: #f6f7f8;
  background-image: linear-gradient(to right, #eee 0%, #ddd 50%, #eee 100%);
  background-repeat: no-repeat;
  background-size: 2000px 100%;
  animation: shimmer 2s infinite linear;
}
